@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}

body {
    width: 100%;
    position: relative;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container {
    padding: 30px;
    margin: auto;
    display: grid;
    width: 80%;
    min-width: 400px;
    max-width: 1200px;
    max-height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto 1fr auto;
    background-color: #f5f4eb;
    box-shadow: 0px 15px 25px rgba(83, 51, 24, 0.5);
    border-radius: 10px;
}

.form-container .form-header {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #8b5d26;
    text-shadow: 2px 2px 5px #8b5d26;
}

.form-container .form-row {
    padding: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1 / -1; 
    text-align: center;
}

.form-container .left-container,
.form-container .right-container {
    margin: 20px;
    background-color: #f5f4eb;
}

.form-container .footer {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container .footer button {
    width: 120px;
    height: 60px;
    border: none;
    background-color: #8b5d26;
    border-radius: 30px;
    color: #f5f4eb;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s ease;
}

.form-container .footer button:hover {
    box-shadow: 0 10px 15px #4a2a10;
    transform: translateY(5px);
}

.form-container .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-container .form-group label {
    font-size: 16px;
    font-weight: 600;
    color: #8b5d26;
    margin-bottom: 5px;
}

.form-container .form-group input:not([type="file"]) {
    border: none;
    padding: 5px;
    width: 200px;
    height: 30px;
    border-radius: 15px;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
    color: #8b5d26;
}

.form-container .form-group input:not([type="file"]):active,
.form-container .form-group input:not([type="file"]):focus,
.form-container .form-group input:not([type="file"]):hover{
    border: none;
    outline: none;
    box-shadow: 0px 5px 15px #9e8260;
    color:  #8b5d26;
}

.form-container .form-group .errorlist {
    color: #d9534f;
    font-size: 12px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 3px;
    border: 1px solid #d9534f;
    border-radius: 5px;
    background-color: #f2dede;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #f5f4eb;
    box-shadow: 0px 5px 15px #9e8260;
    z-index: 1000;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
    max-height: 60px;
}

#navbar li {
    list-style: none;
    padding: 0px 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #8b5d26;
    transition: 0.3s ease;
}

.logout-button {
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    color: #8b5d26;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active,
.logout-button.active,
.logout-button:hover {
    color: #4a2a10;
    text-shadow: 0 5px 15px #4a2a10;
}

#navbar li a.active::after,
#navbar li a:hover::after,
.logout-button.active::after,
.logout-button:hover::after {
    content: "";
    display: block;
    width: 30%;
    height: 2px;
    color: #4a2a10;
    background-color: #4a2a10;
    position: absolute;
    bottom: -4px;
    left: 20px;
    text-shadow: 0 5px 15px #4a2a10;
}


#banner-home {
    padding: 0px 80px;
    background-image: url('imgs/StockCake-Skincare Product Presentation_1727120995.jpg');
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 60% right -10%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
}
