{% load static%}
<header class="header">
        
        <div class="alert">
            <div class="container">
                <p class="alert-text">
                    Free Shipping All Over Egypt for orders Above 300L.E
                </p>
            </div>
        </div>

       <div class="header-top" data-header>
            <div class="container">
                <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
                    <span class="line line-1"></span>
                    <span class="line line-2"></span>
                    <span class="line line-3"></span>
                </button>
                
                <a href="{% url 'home'%}" class="logo">
                    <img src="{% static 'images/logo1.png'%}" width="270" height="30" alt="LILY">
                </a>
                
                <nav class="navbar">
                    <ul class="navbar-list">
                        <li><a href="{% url 'home' %}" class="navbar-link has-after">Home</a></li>
                        <li><a href="{% url 'collection' %}" class="navbar-link has-after">Collection</a></li>
                        <li><a href="{% url 'offers'%}" class="navbar-link has-after">Offer</a></li>
                        <li><a href="{% url 'categories'%}" class="navbar-link has-after">Category</a></li>
                    </ul>
                </nav>

                <div class="header-actions" data-get-count-url="{% url 'get_count'%}">
                    {% if user.is_authenticated %}
                    <a href="{% url 'profile' user.pk%}">
                        <button class="header-action-btn" aria-label="user">
                            <ion-icon name="person-outline"></ion-icon>
                        </button>
                    </a>
                    
                    <button class="header-action-btn" aria-label="favourite item" data-wishlist-toggler>
                        <ion-icon name="star-outline"></ion-icon>
                        <span class="btn-badge" data-wishlist-badge>0</span>
                    </button>
                    
                    <button class="header-action-btn" aria-label="cart item" data-cart-toggler>
                        <ion-icon name="bag-handle-outline"></ion-icon>
                        <span class="btn-badge" data-cart-badge>0</span>
                    </button>

                        <form method="post" action="{% url 'logout'%}">
                            {%csrf_token%}
                            <button type="submit" class="header-action-btn" aria-label="logout">
                                <ion-icon name="log-out-outline"></ion-icon>
                            </button>
                        </form>

                    {% else %}
                        <button class="header-action-btn" aria-label="login">
                            <a href="{% url 'login'%}">
                                <ion-icon name="log-in-outline"></ion-icon>
                            </a>
                        </button>
                        <button class="header-action-btn" aria-label="signup">
                            <a href="{% url 'signup'%}">
                                <ion-icon name="person-add-outline"></ion-icon>
                            </a>
                        </button>
                    {% endif%}
                </div>
            </div>
        </div>
</header>

<div class="sidebar">
        <div class="mobile-navbar" data-navbar>
            <div class="wrapper">
                <a href="" class="logo">
                    <img src="{% static 'images/logo.png'%}" width="179" height="26" alt="NATURALILY">
                </a>
                <button class="nav-close-btn" aria-label="close menu" data-nav-close>
                    <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
                </button>
            </div>
            <ul class="navbar-list">
                <li>
                    <a href="{% url 'home'%}" class="navbar-link has-after" data-nav-link>Home</a>
                </li>
                <li>
                    <a href="{% url 'collection'%}" class="navbar-link has-after" data-nav-link>Collection</a>
                </li>
                <li>
                    <a href="{% url 'offers'%}" class="navbar-link has-after" data-nav-link>Offer</a>
                </li>
                <li>
                    <a href="{% url 'categories'%}" class="navbar-link has-after" data-nav-link>Category</a>
                </li>
            </ul>
        </div>
        <div class="overlay" data-nav-toggler data-overlay></div>
</div>

<div class="sidebar">
    <div class="cart" data-cart data-add-to-cart-url="{% url 'add_to_cart' %}">
        <div class="cart-header">
            <h2>Your Cart</h2>
            <button class="cart-close-btn" aria-label="close cart" data-cart-close>
                <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
            </button>
        </div>
        <div class="cart-content">
            <table class="cart-table">
                    <thead>
                        <tr>
                        <td></td>
                        <td>Product</td>
                        <td>Quantity</td>
                        <td>Price Per Item</td>
                        <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% if user.shopUser.cart.products %}
                            {% for product in user.shopUser.cart.products.all %}
                                <tr class="cart-item" data-item-id="{{product.product.id}}">
                                    <td> <img src="{{product.product.img.url}}" alt="{{product.product.name}}"></td>
                                    <td>{{product.product.name}}</td>
                                    <td>
                                        <div class="item-quantity">
                                            <button class="cart-item-dec" aria-label="remove item" data-item-quantity-dec dec-check-quantity-url="{% url 'dec_check_quantity'%}" product-id="{{product.product.id}}" cart-id="{{user.shopUser.cart.pk}}">
                                                <ion-icon name="remove-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                            <span class="cart-item-quantity" data-quantity-id="{{ product.product.id }}">{{ product.quantity }}</span>
                                            <button class="cart-item-inc" aria-label="add item" data-item-quantity-inc inc-check-quantity-url="{% url 'inc_check_quantity'%}" product-id="{{product.product.id}}" cart-id="{{user.shopUser.cart.pk}}">
                                                <ion-icon name="add-outline" aria-hidden="true"></ion-icon>
                                            </button>
                                        </div>
                                    </td>
                                    <td>{{product.product.price}}</td>
                                    <td>
                                        <button style="background:none; border:none; color:red; font-size: 24px;" class="cart-item-remove" aria-label="remove item" data-item-remove data-item-remove-url="{% url 'remove_from_cart'%}" product-id="{{product.product.id}}">
                                            <ion-icon name="trash-outline" aria-hidden="true"></ion-icon>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
            </table>
        </div>
        <div class="cart-footer">
            <div class="cart-total">
                    <h3>Total</h3>
                    <p class="cart-total-price" data-cart-total>0 L.E</p>
            </div>
            <button class="btn btn-primary" aria-label="checkout">Checkout</button>
        </div>
    </div> 
    <div class="overlay" data-cart-toggler data-cart-overlay></div>
</div>

<div class="sidebar">
    <div class="cart" data-wishlist data-add-to-wishlist-url="{% url 'add_to_wishlist' %}">
        <div class="cart-header">
            <h2>Your wishlist</h2>
            <button class="cart-close-btn" aria-label="close wishlist" data-wishlist-close>
                <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
            </button>
        </div>
        <div class="cart-content">
            <table class="cart-table">
                    <thead>
                        <tr>
                        <td></td>
                        <td>Product</td>
                        <td>Price Per Item</td>
                        <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% if user.shopUser.wishlist.products.all %}
                            {% for wishlist_product in user.shopUser.wishlist.products.all %}
                                <tr class="cart-item" data-wish-id="{{ wishlist_product.product.id }}">
                                    <td><img src="{{ wishlist_product.product.img.url }}" alt="{{ wishlist_product.product.name }}"></td>
                                    <td>{{ wishlist_product.product.name }}</td>
                                    <td>{{ wishlist_product.product.price }}</td>
                                    <td>
                                        <button style="background:none; border:none; color:red; font-size: 24px;" class="cart-item-remove" aria-label="remove wish" data-wish-remove data-wish-remove-url="{% url 'remove_from_wishlist'%}" product-id="{{ wishlist_product.product.id }}">
                                            <ion-icon name="trash-outline" aria-hidden="true"></ion-icon>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
            </table>
        </div>
    </div> 
    <div class="overlay" data-wishlist-toggler data-wishlist-overlay></div>
</div>