{% extends "home/base.html" %}
{% load static%}
{% block head%}
        <link rel="preload" as="image" href="{% static 'images/logo.png'%}">
        <link rel="preload" as="image" href="{% static 'images/hero-banner-1.jpg'%}">
        <link rel="preload" as="image" href="{% static 'images/hero-banner-2.jpg'%}">
        <link rel="preload" as="image" href="{% static 'images/hero-banner-3.jpg'%}">
        <link rel="preload" as="image" href="{% static 'images/banner-1.jpg'%}">
        <link rel="preload" as="image" href="{% static 'images/banner-2.jpg'%}">
        <link rel="preload" as="image" href="{% static 'images/banner3.jpg'%}">
{% endblock head %}

{% block hero %} 
    <section class="section hero" id="home" aria-label="hero" data-section>
                <div class="container">
                    <ul class="has-scrollbar">
                        <li class="scrollbar-item">
                            <div class="hero-card has-bg-img"
                                style="background-image: url({% static 'images/hero-banner-1.jpg' %})">
                                <div class="card-content">

                                    <h1 class="h1 hero-title">
                                        Reveal The <br>
                                        Beauty of Skin
                                    </h1>

                                    <p class="hero-text">
                                        Made using clean, non-toxic ingredients, our products are designed for everyone.
                                    </p>

                                    <p class="price">Starting at 50L.E</p>

                                    <a href="{% url 'collection'%}" class="btn btn-primary">Shop Now</a>

                                </div>

                            </div>
                        </li>

                        <li class="scrollbar-item">
                            <div class="hero-card has-bg-img"
                                style="background-image: url({% static 'images/hero-banner-2.jpg' %})">
                                <div class="card-content">

                                    <h1 class="h1 hero-title">
                                        Reveal The <br>
                                        Beauty of Skin
                                    </h1>

                                    <p class="hero-text">
                                        Made using clean, non-toxic ingredients, our products are designed for everyone.
                                    </p>

                                    <p class="price">Starting at 50L.E</p>

                                    <a href="{% url 'collection'%}" class="btn btn-primary">Shop Now</a>

                                </div>

                            </div>
                        </li>

                        <li class="scrollbar-item">
                            <div class="hero-card has-bg-img"
                                style="background-image: url({% static 'images/hero-banner-3.jpg' %})">

                                <div class="card-content">

                                    <h1 class="h1 hero-title">
                                        Reveal The <br>
                                        Beauty of Skin
                                    </h1>

                                    <p class="hero-text">
                                        Made using clean, non-toxic ingredients, our products are designed for everyone.
                                    </p>

                                    <p class="price">Starting at 50L.E</p>

                                    <a href="{% url 'collection'%}" class="btn btn-primary">Shop Now</a>

                                </div>

                            </div>
                        </li>

                    </ul>
                </div>
            </section>
{% endblock%}

{% block bestsellersCollection %}
            <section class="section shop" id="shop" aria-label="shop" data-section>
                <div class="container">
                    <div class="tittle-wrapper">
                        <h2 class="h2 sextion-title">Our Newest Products</h2>
                        <a href="#" class="btn-link">
                            <span class="span">View All</span>
                            <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                        </a>
                    </div>
                    <ul class="has-scrollbar">
                        {% for product in recentProducts %}
                        <li class="scrollbar-item">
                            <div class="shop-card">
                                <div class="card-banner img-holder" style="--width: 540; --height: 720;" :>
                                    <img src="{{product.img.url}}" width="540" height="720" loading="lazy"
                                        alt="product 1" class="img-cover">
                                        {% if product.offer %}
                                            <span class="badge" aria-label="20% off">-20%</span>
                                        {% endif %} 

                                    <div class="card-actions">
                                        <button class="action-btn" aria-label="add to cart">
                                            <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                                        </button>
                                        <button class="action-btn" aria-label="add to wishlist">
                                            <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
                                        </button>
                                        <button class="action-btn" aria-label="compare">
                                            <ion-icon name="star-outline" aria-hidden="true"></ion-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-content">
                                    {% if product.offer%}
                                        <div class="price">
                                            <del class="price-old">{{product.price}}</del>
                                        </div>
                                    {% else %}
                                        <div class="price">
                                            <span class="price-new">{{product.price}}</span>
                                        </div>
                                    {% endif %}

                                    <h3>
                                        <a href="{% url 'product' product.pk%}" class="card-title">{{product.name}}</a>
                                    </h3>

                                    <div class="card-rating">

                                        <div class="rating-wrapper" aria-label="5 star rating">
                                            <ion-icon name="star" aria-hidden="true"></ion-icon>
                                            <ion-icon name="star" aria-hidden="true"></ion-icon>
                                            <ion-icon name="star" aria-hidden="true"></ion-icon>
                                            <ion-icon name="star" aria-hidden="true"></ion-icon>
                                            <ion-icon name="star" aria-hidden="true"></ion-icon>
                                        </div>

                                        <p class="rating-text">
                                            {{product.getReviewsNum}} reviews
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endfor%}
                    </ul>
                </div>
            </section>
{% endblock bestsellersCollection %}

{% block offer %}
<section class="section shop" id="shop" aria-label="shop" data-section>
                <div class="container">
                    <div class="tittle-wrapper">
                        <h2 class="h2 sextion-title">Under 200L.E</h2>
                        <a href="#" class="btn-link">
                            <span class="span">View All</span>
                            <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                        </a>
                    </div>
                    <ul class="has-scrollbar">
                        {% for product in lessthanProducts %}
                        <li class="scrollbar-item">
                            <div class="shop-card">
                                <div class="card-banner img-holder" style="--width: 540; --height: 720;" :>
                                    <img src="{{ product.img.url}}" width="540" height="720" loading="lazy"
                                        alt="product 1" class="img-cover">
                                       {% if product.offer%}
                                            <span class="badge" aria-label="20% off">{{product.offer}}</span>
                                       {% endif %}

                                    <div class="card-actions">
                                        <button class="action-btn" aria-label="add to cart">
                                            <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                                        </button>
                                        <button class="action-btn" aria-label="add to wishlist">
                                            <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
                                        </button>
                                        <button class="action-btn" aria-label="compare">
                                            <ion-icon name="star-outline" aria-hidden="true"></ion-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-content">
                                    {% if product.offer%}
                                        <div class="price">
                                            <del class="price-old">{{product.price}}</del>
                                        </div>
                                    {% else %}
                                        <div class="price">
                                            <span class="price-new">{{product.price}}</span>
                                        </div>
                                    {% endif %}

                                    <h3>
                                        <a href="{% url 'product' product.pk%}" class="card-title">{{product.name}}</a>
                                    </h3>

                                    <div class="card-rating">

                                        <div class="rating-wrapper" aria-label="5 star rating">
                                            <ion-icon name="star" aria-hidden="true"></ion-icon>
                                            <ion-icon name="star" aria-hidden="true"></ion-icon>
                                            <ion-icon name="star" aria-hidden="true"></ion-icon>
                                            <ion-icon name="star" aria-hidden="true"></ion-icon>
                                            <ion-icon name="star" aria-hidden="true"></ion-icon>
                                        </div>

                                        <p class="rating-text">
                                            {{product.getReviewsNum}} reviews
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
{% endblock offer%}

{% block banner %}
        <section class="section banner" aria-label="banner" data-section>
                <div class="container">
                    <ul class="banner-list">

                        <li>
                            <div class="banner-card banner-card-1 has-before hover:shine">
                                <p class="card-subtitle"> New Collection </p>
                                <h2 class="h2 card-title">Discover Autum Collectio with Hallowen limited edition</h2>
                                <a href="#" class="btn btn-secondary">Explore Now</a>
                                <div class="has-bg-img" style="background-image: url({% static 'images/banner-1.jpg'%})">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="banner-card banner-card-1 has-before hover:shine">
                                <p class="card-subtitle">25% off Everything </p>
                                <h2 class="h2 card-title">Get all what your skin and don't miss up your budget !</h2>
                                <a href="#" class="btn btn-secondary">See Offers</a>
                                <div class="has-bg-img" style="background-image: url({% static 'images/banner-2.jpg'%})">
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </section>
{% endblock banner%}