{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block title%} <title>NATURALILY</title> {%endblock title%}
    <link rel="stylesheet" href={% static "css/style.css" %}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">
    {% block head %} {% endblock head%}

</head>
<body>
    
    {% include "home/partials/navbar.html" %}
    <main>
        <article>
            <!--
            Hero Section
            -->
            {% block hero %} {% endblock hero %}
            <!--
            Collection Section
            -->
            {% block collection %} {% endblock collection%}
            
            <!--
                Shop best sellers depending on rating
            -->
            {% block bestsellersCollection %} {% endblock bestsellersCollection %}
            
            <!--
                Offer Section
            -->
            {% block offer %} {% endblock offer%}

            <!--
                Banner Section
            -->
            {% block banner %} {% endblock banner%}

            <!--
                Footer Section
            -->
            {% include "home/partials/footer.html"%}

            <!-- back to top-->
            <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
                <ion-icon name="arrow-up" aria-hidden="true"></ion-icon>
            </a>

        </article>
    </main>

    <!-- 
        - custom js link
      -->
    {% block js %} {% endblock js%}
    <script src={% static 'js/script.js'%} defer></script>
    <!-- 
        - ionicon link
        - the Ionic Framework, which provides a set of high-quality icons for use in web and mobile applications.
      -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</body>
</html>