<footer class="footer" data-section>
                <div class="container">
                    <div class="footer-top">
                        <ul class="footer-list">
                            <li>
                                <p class="footer-list-title">Company</p>
                            </li>
                            <li>
                                <p class="footer-list-text">Find a location nearest you. see <a href="#"
                                        class="link">Our Stores</a></p>
                            </li>
                            <li>
                                <p class="footer-list-text bold"> +1234567890</p>
                            </li>
                            <li>
                                <p class="footer-list-text"> lili@gmail.com</p>
                            </li>
                        </ul>

                        <ul class="footer-list">
                            <li>
                                <p class="footer-list-title"> Usefull Links</p>
                            </li>
                            <li>
                                <a href="#" class="footer-link">New Products</a>
                            </li>
                            <li>
                                <a href="#" class="footer-link">Best Sellers</a>
                            </li>
                            <li>
                                <a href="#" class="footer-link">Bundle & Save</a>
                            </li>
                            <li>
                                <a href="#" class="footer-link">Online Gift Cards</a>
                            </li>
                        </ul>

                        <ul class="footer-list">
                            <li>
                                <p class="footer-list-title">Information</p>
                            </li>
                            <li>
                                <a href="#" class="footer-link">Start a return</a>
                            </li>
                            <li>
                                <a href="#" class="footer-link">Contact Us</a>
                            </li>
                            <li>
                                <a href="#" class="footer-link">Shipping FAQ</a>
                            </li>
                            <li>
                                <a href="#" class="footer-link">Terms & Conditions</a>
                            </li>
                            <li>
                                <a href="#" class="footer-link">Privay Policy</a>
                            </li>
                        </ul>

                        <div class="footer-list">
                            <p class="newsletter-title">Our Newsletter</p>
                            <p class="newsletter-text"> Enter Your Email to be the first to know about our new products
                                and hot offers!</p>
                            <form action="" class="newsletter-form">
                                <input type="email" name="email" class="email-field" placeholder="Enter Your Email"
                                    required>
                                <button type="submit" class="btn btn-primary">Subscribe</button>
                            </form>
                        </div>
                    </div>

                    <div class="footer-bottom">
                        <div class="wrapper">
                            <p class="copy-right"> &copy 2024 Laila Ebrahim</p>
                        </div>
                    </div>
                </div>
            </footer>