{% extends "home/base.html" %}
{% load static %}
{%block title%} <title>Log In</title> {% endblock title%}
{% block hero %} 
    <section class="section hero" id="home" aria-label="hero" data-section>
            <div class="container">
                    <div class="hero-card" style="background-color: rgba(226, 238, 173, 0.5); padding: 80px 60px; color: var(--black); border-raduis: 20px; width:70%; margin:auto;">
                        <div class="card-content">
                            <h1 style="color: var(--black); text-align: center; font-size: 30px; font-weight: bolder;">
                                Your Password Reseted Successfully !
                            </h1>
                            <h1 style="color: var(--black); text-align: center;">You Can Login To Your Account &nbsp; &nbsp;<a style="display:inline; color: green; font-weight: bold; " href="{% url 'login'%}">Here ! </a> </h1>
                        </div>
                    </div>
                </div>
    </section>
{%endblock hero%}
