{% extends "home/base.html" %}
{% load static %}
{%block title%} <title>Password Reset</title> {% endblock title%}
{% block hero %} 
    <section class="section hero" id="home" aria-label="hero" data-section>
            <div class="container">
                    <div class="hero-card" style="background-color: rgba(226, 238, 173, 0.5); padding: 80px 60px; color: var(--black); border-raduis: 20px; width:70%; margin:auto;">
                        <div class="card-content">
                            <form action="", method="post">
                                    <h1 style="color: var(--black); text-align: center; font-size: 30px; font-weight: bolder;">Reset Password</h1>
                                    {% csrf_token %}
                                        <div class="form-group">
                                            {{form.as_p}}
                                        </div>
                                    <button type="submit" class="btn btn-primary" style="margin:auto; margin-top: 30px;">Reset Password</button>
                            </form>
                        </div>
                    </div>
                </div>
    </section>
{%endblock hero%}

